@page "/Trips/edit/{ID:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Trip Information</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditTrip" trip="trip" />

@code {
    [Parameter] public int ID { get; set; }
    Trip trip = new Trip();

    protected async override Task OnParametersSetAsync()
    {
        trip = await _client.GetFromJsonAsync<Trip>($"api/Trips/{ID}");
    }

    async Task EditTrip()
    {
        await _client.PutAsJsonAsync($"api/Trips/{ID}", trip);
        _navManager.NavigateTo("/Trips/");
    }
}